@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
* {
  /* background-color: rgb(202, 196, 188); */
  font-family: 'Wix Madefor Text', sans-serif;
}
body{
  margin: 0px
}
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap';
#app {
  padding: 10px;
  background-color: rgb(202, 196, 188);

}
input[type='text'] {
  min-width: 400px;
  height: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  background-color: beige;
  margin: 10px 0;
}
input[type='number'] {
  min-width: 400px;
  height: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  background-color: beige;
  margin: 10px 0;
}
input[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin: 0 20px;
}
input:hover {
  border: 1px solid black;
}
input[type='date'] {
  height: 20px;
  margin: 0 20px;
  background-color: beige;
}
select {
  height: 20px;
  margin: 0 20px;
  background-color: beige;
}
button{
  height: 50px;
  margin: 20px 20px;
  background-color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  border-radius: 0px;
  font-style:oblique;
  padding: 5px 5px 5px 5px;
}
